/* CSS Document */

/*

selector {
    property: value;
    property: value;
    property value
}

Each selector is paired with and styles an element. For example:

html {} is paired with and styles <html>

*/

html {
    font-family:"Times New Roman", Helvetica, sans-serif;
    
}

body {
    background-color: #ffcccc;
}

h1 {
    font-family:Helvetica;
    font-size: 3rem; /* 1 rem = 16px */
    font-weight: lighter;
    color: #660000;
    text-shadow: #999 2px 2px; /* colour + x + y */
}

h2 {
    font-family:Helvetica;
    font-size: 1.5rem;
    font-weight: lighter;
    color: #660000;
    border-bottom: 2px solid #FFF;
}


h1 + p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight:normal;
    font-family:"Times New Roman"
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

hr {
    border: solid 2px #660000;
}

ol li:first-child {
    background-color: #FFF;
}


        

        